@{
    Layout = null;
}

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body style="background-color:black">
    <div class="d-flex justify-content-center align-items-center vh-100">
        <h1 style="color:white">Unauthorized</h1>
    </div>
</body>
