
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PageDenied</title>
</head>

<body style="background-color:black">
    <h1 style="color:white">Unauthorized</h1>
</body>
</html>