@model LoginResultModel
@{
    Layout = null;
}

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body style="background-color:black">
    <div class="d-flex justify-content-center align-items-center vh-100">
        <form method="post" class="w-25">
            <div class="form-group">
                <input type="text" class="form-control" asp-for="Username" placeholder="Kullanıcı Adı" />
            </div>
            <div class="form-group">
                <input type="password" class="form-control" asp-for="Password" placeholder="Şifre" />
                <br />
                <h5 style="color:red">@ViewBag.ErrorMessage</h5>
            </div>
            <button type="submit" class="btn btn-outline-danger w-100">Giriş</button>
        </form>
    </div>
</body>

